{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<div class="rolph-container rolph-header">
<div class="pane-content">
    <div class="fieldable-panels-pane">
        <div class="field field-name-field-basic-text-text field-type-text-long field-label-hidden">
            <div class="field-items">
                <div class="field-item even">
                    <h1>Collect, annotate, and share images, videos, and audio with Mediathread.</h1>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblocktrans %}
{% endblock %}
